@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  /* Colors */
  --color-primary: #1e1e1e;
  --color-secondary: #272727;
  --color-dark: #28282c;
  --color-brand-gray-100: #e8e8e8;
  --color-brand-gray-700: #393939;
  --color-brand-green-600: #ab803b;
  --color-brand-yellow-500: #f0e263;
  --color-brand-blue-600: #084fc7;
  --color-brand-blue-400: #7f56d9;
  /* Font Size */
  --text-basic-23: 1.4375rem;
  --text-basic-40: 2.5rem;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply overflow-x-hidden bg-primary font-inter font-semibold text-white text-base lg:text-lg lg:leading-none;
  }

  button {
    @apply cursor-pointer;
  }
}

@utility container-base {
  @apply w-full max-w-7xl mx-auto px-4 md:px-6 lg:px-8 xl:px-10;
}

@utility bg-gradient-display {
  background: var(
    --111,
    linear-gradient(
      237deg,
      #ab803b 18.42%,
      #cdb14f 31.58%,
      #f0e263 45.84%,
      #d9b84a 59.44%,
      #c28d31 74.36%
    )
  );
}

@utility bg-gradient-banner {
  background: linear-gradient(
    243deg,
    #ab803b -21.87%,
    #cdb14f 0.93%,
    #f0e263 25.64%,
    #d9b84a 49.2%,
    #c28d31 75.05%
  );
}

/* @utility gradient-border {
} */

@utility text-gradient-display {
  background: var(
    --111,
    linear-gradient(
      237deg,
      #ab803b 18.42%,
      #cdb14f 31.58%,
      #f0e263 45.84%,
      #d9b84a 59.44%,
      #c28d31 74.36%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility hover-opacity-75 {
  @apply transition duration-200 hover:opacity-75;
}
@utility bg-hover-primary {
  @apply bg-primary transition duration-200 hover:bg-primary/80;
}

h1,
h2,
h3 {
  @apply font-bold;
}


.circle::after {
  content: "";
  background: #28282C;
  opacity: 0.2;
  animation: pulse 2.5s ease-in-out infinite;
  @apply size-full absolute z-0 rounded-full;
}

.circle::before {
  content: "";
  background: #28282C;
  opacity: 0.5;
  animation: pulse 2.5s ease-in-out infinite;
  animation-delay: -1.2s; 
  @apply size-10 md:size-24 lg:size-32 absolute z-10 rounded-full;
}

/* Pulsatsiya */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}




.circle-item::after {
  content: "";
  background: #28282C;
  opacity: 0.2;
  animation: pulsei 2.5s ease-in-out infinite;
  @apply size-full absolute z-0 rounded-full;
}

.circle-item::before {
  content: "";
  background: #28282C;
  opacity: 0.5;
  animation: pulsei 2.5s ease-in-out infinite;
  animation-delay: -1.2s; 
  @apply size-10 md:size-24 absolute z-10 rounded-full;
}

/* Pulsatsiya */
@keyframes pulsei {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
